@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f7f7f7;
}

/*HEADER*/
header {
  background-color: #ca0216;
  border-bottom: 10px solid #d61528;
  text-align: center;
  padding: 30px;
}

h2 {
  color: #ffff;
  font-size: 30px;
  letter-spacing: 3px;
  text-shadow: 0px 0px 10px #ffff;
}

/*MISSION*/
.img-bg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 150px;
  padding: 5px;
}

.people {
  position: absolute;
  width: 100%;
  object-fit: cover;
  opacity: 40%;
  z-index: -1;
  border-bottom: 2px solid;
  box-shadow: 0px 0px 5px 0px;
  overflow: hidden;
}

h1 {
  font-size: 60px;
  width: 30%;
  text-align: left;
  text-shadow: 0px 0px 10px #ffff;
}

.img-bg p {
  font-size: 35px;
  width: 60%;
  border-left: 5px solid;
  border-radius: 5px;
  padding-left: 20px;
  text-shadow: 0px 0px 10px #ffff;
}

main h2 {
  background-color: #ca0216;
  border-bottom: 10px solid #d61528;
  padding: 30px;
  text-align: center;
  color: #ffff;
}

.parent-2 {
  display: flex;
  flex-direction: column;
}

.parent-2 blockquote {
  font-style: italic;
  font-size: 18px;
  margin-top: 40px;
  margin-left: 20px;
  padding: 5px;
  width: 50%;
  border-right: 3px solid #d61528;
  background-color: #f7f7f7ad;
  border-radius: 5px;
  text-align: right;
  box-shadow: 0px 0px 3px 0px;
}

.parent-2 img {
  position: absolute;
  width: 100%;
  height: 760px;
  object-fit: cover;
  z-index: -1;
}

.video-container {
  margin-top: 40px;
  margin-left: 60px;
}

.video-container video {
  width: 600px;
  height: 300px;
}

main #moments {
  margin-top: 70px;
}

.gallery {
  padding-top: 10px;
  height: 500px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: inset 0 -10px 20px -15px #000000;
}

.gallery-item {
  width: 300px;
  height: 300px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 5px;
  transition: transform 0.3s linear, box-shadow 0.3s linear;
}

.gallery-item:hover {
  box-shadow: 0px 0px 3px;
  transform: translateY(-3px);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parent-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.parent-3 img {
  width: 200px;
  height: 600px;
  object-fit: cover;
  margin: 20px;
  margin-right: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.essay {
  height: 600px;
  overflow: auto;
  padding: 20px;
  background-color: #ffffff;
  margin: 20px;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: inset 0 -10px 15px -15px #000000;
}

.essay p {
  text-align: justify;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.parent-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 30px;
}

iframe {
  flex-direction: row;
  width: 500px;
  height: 435px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px;
}

.parent-4 h2 {
  all: revert;
  font-size: 25px;
  text-shadow: 0px 0px 2px;
}

.parent-4 h1 {
  all: revert;
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  text-shadow: 0px 0px 2px;
}

.soc-media {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 50px;
}

.soc-media img {
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 1000px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s linear, box-shadow 0.3s linear;
}

.soc-media img:hover {
  box-shadow: 0px 0px 3px;
  transform: translateY(-3px);
}

footer {
  background-color: #ca0216;
  border-top: 10px solid #d61528;
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-logo img {
  border-radius: 1000px;
  background-color: #ffff;
  width: 130px;
}

.footer-info {
  text-align: center;
}

.footer-info p {
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 10px;
}


/* For screens smaller than 768px (tablets and smaller devices) */
@media (max-width: 1194px) {

  h2 {
    font-size: 25px; /* Decrease font size for better readability */
  }

  .img-bg {
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 300px;
  }

  .img-bg h1 {
    font-size: 5vw;
    width: 100%;
    text-align: center;
  }

  .img-bg p {
    padding: 0;
    max-width: 60%;
    font-size: 3vw;
    text-align: center;
    border: none;
  }

  .parent-2 blockquote {
    margin-top: 300px;
    font-size: 16px; /* Decrease font size for better readability */
    width: 90%; /* Adjust width for better responsiveness */
    text-align: justify;
  }

  .parent-2 img {
    height: auto; /* Ensure image height adjusts proportionally */
  }

  .video-container {
    margin-top: 30px; /* Adjust margin for smaller screens */
    margin-left: 0; /* Center-align video container */
  }

  .video-container video {
    width: 100%; /* Ensure video fills its container */
    height: auto; /* Ensure video height adjusts proportionally */
  }

  .gallery-item {
    width: calc(50% - 20px); /* Adjust gallery item width for better layout */
  }

  .parent-3 img {
    width: 80%; /* Adjust image width for better responsiveness */
    height: 400px;
    margin: 20px auto; /* Center-align images and add some vertical spacing */
  }

  .essay {
    height: 400px; /* Allow essay container to adjust its height */
    max-width: 70%; /* Adjust max-width for better responsiveness */
    margin: 20px auto; /* Center-align essay container and add some vertical spacing */
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .essay p {
    font-size: 16px; /* Decrease font size for better readability */
  }

  .parent-4 {
    padding: 20px; /* Adjust padding for smaller screens */
  }

  .parent-4 h2 {
    font-size: 24px; /* Decrease font size for better readability */
  }

  .parent-4 h1 {
    font-size: 60px; /* Decrease font size for better readability */
  }

  .parent-4 iframe {
    max-width: 500px; /* Adjust iframe width for better responsiveness */
    height: 435px; /* Adjust iframe height for better responsiveness */
  }
  
  .soc-media {
    flex-direction: row; /* Change to column layout for better stacking */
    gap: 20px; /* Add gap between icons */
    align-items: center; /* Center align icons */
  }

  .soc-media img {
    width: 80px; /* Decrease icon size for smaller screens */
    height: 80px; /* Decrease icon size for smaller screens */
    padding: 10px; /* Decrease padding for smaller screens */
  }
}

/* For screens smaller than 480px (small smartphones) */
@media (max-width: 610px) { 
  h1 {
    font-size: 30px; /* Decrease font size for better readability */
  }

  h2 {
    font-size: 24px; /* Decrease font size for better readability */
  }

  .img-bg {
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 300px;
  }

  .img-bg h1 {
    font-size: 40px;
    width: 100%;
    text-align: center;
  }

  .img-bg p {
    font-size: 20px;
    text-align: center;
    border: none;
  }

  .people {
    width: 100%;
    height: 600px;
  }
  
  .parent-2 blockquote {
    font-size: 14px; /* Further decrease font size for better readability */
    width: 90%; /* Adjust width for better responsiveness */
  }

  .parent-3 img {
    width: 40%; /* Further adjust image width for better responsiveness */
  }

  .essay {
    margin-left: 10px; /* Center-align essay container and reduce margin */
  }

  .essay p {
    font-size: 14px; /* Further decrease font size for better readability */
  }

  .parent-4 h2 {
    margin-top: -20px;
    font-size: 20px; /* Further decrease font size for better readability */
  }

  .parent-4 h1 {
    font-size: 50px; /* Further decrease font size for better readability */
  }

  .parent-4 {
    margin-top: -20px;
  }

  .parent-4 iframe {
    flex-direction: column;
    scale: 72%;
  }

  .soc-media img {
    width: 60px; /* Further decrease icon size for smaller screens */
    height: 60px; /* Further decrease icon size for smaller screens */
    padding: 5px; /* Further decrease padding for smaller screens */
  }
}
